<ons-page on-device-backbutton="#">
  <ons-toolbar>
    <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
    </div>
    <div class="center">Detalhes do projeto</div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="fa-edit" fixed-width="false" style="vertical-align: -4px;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-list modifier="inset">
    <ons-list-item class="to-wrapper">
      <ons-row>
        <ons-col width="52px">
           <ons-icon icon="fa-archive"></ons-icon>
        </ons-col>
        <ons-col>
          <div class="to-name">Pessoal</div>
          <div class="to-email">Descrição resumida do projeto selec...</div>
        </ons-col>
      </ons-row>
    </ons-list-item>
    <ons-list-item>
        <ons-row>
            <ons-col width="10%">
               <ons-icon icon="fa-money"></ons-icon>
            </ons-col>
            <ons-col>
              <div class="to-name">Orçamento:</div>
            </ons-col>
            <ons-col>
              <div class="to-name">R$10.000,00</div>
            </ons-col>
        </ons-row>
    </ons-list-item>
    <ons-list-item>
        <ons-row>
            <ons-col width="10%">
                <ons-icon icon="fa-calendar-check-o"></ons-icon>
            </ons-col>
            <ons-col width="34%">
              <input type="date" class="text-input text-input--transparent" value="2013-01-08">
            </ons-col>
            <ons-col >
                <p>até</p>
            </ons-col>
            <ons-col width="10%">
                <ons-icon icon="fa-calendar-times-o"></ons-icon>
            </ons-col>
            <ons-col width="34%">
              <input type="date" class="text-input text-input--transparent" value="2013-01-08">
            </ons-col>
        </ons-row>
    </ons-list-item>
    <ons-list-item>
        <ons-row>
            <ons-col width="52px">
               <ons-icon icon="fa-bullhorn"></ons-icon>
            </ons-col>
            <ons-col>
              <div class="to-name">Descrição:</div>
            </ons-col>
        </ons-row>
        <ons-row>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis efficitur ex purus, 
            vel ullamcorper velit interdum vitae. Quisque commodo interdum ex aliquam ultricies. 
            Proin eget cursus dui. Aliquam id ligula elit.</p>
        </ons-row>
    </ons-list-item>
    

<style>
.list {
  margin-top: 10px;
}

.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px;
}

.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
}

.to-name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px;
}

.to-email {
  font-size: 14px;
  opacity: 0.4;
}

.text-input {
  margin-top: 4px;
}

input[type="text"] {
  width: 100%;
}

.textarea {
  margin-top: 4px;
  width: 100%;
  height: 50px;
}
</style>  
  
</ons-page>

