<ons-page id="PageInput" on-device-backbutton="#">

    
  <ons-toolbar>
    <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
    </div>
    <div class="center">Novo gasto</div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="fa-check-square-o" fixed-width="false" style="vertical-align: -4px;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-list modifier="inset">
    <ons-list-item class="to-wrapper">
      <ons-row>
        <ons-col width="52px">
           <ons-icon icon="fa-archive"></ons-icon>
        </ons-col>
        <ons-col>
          <div class="to-name">Pessoal</div>
          <div class="to-email">Descrição resumida do projeto selec...</div>
        </ons-col>
      </ons-row>
    </ons-list-item>
    <ons-list-item>
        <ons-row>
            <ons-col width="10%">
                <p>R$</p>
            </ons-col>
            <ons-col width="50%">
                <input id="InputValue" type="number" min="1" step="any" class="text-input text-input--transparent" placeholder="0,00">
            </ons-col>
            <ons-col width="10%">
                <ons-icon icon="fa-calendar"></ons-icon>

            </ons-col>
            <ons-col>
              <input id="InputData" type="date" class="text-input text-input--transparent" value="2013-01-08">
            </ons-col>
        </ons-row>
    </ons-list-item>
    <ons-list-item>
        <ons-row>
            <ons-col width="10%">
                <ons-icon icon="fa-tags"></ons-icon>
            </ons-col>
            <ons-col >
                <input id="InputTags" type="text" class="text-input text-input--transparent" placeholder="Almoço, Prato-feito">
            </ons-col>
        </ons-row>
    </ons-list-item>
    <ons-list-item>
        <ons-row>
            <ons-col width="20%">
               <ons-icon icon="fa-tasks"></ons-icon>
            </ons-col>
            <ons-col width="30%">
                 <select id="InputCategory" name="Categoria">
                    <option value="volvo"disabled selected hidden>Categoria</option>
                    <option value="saab">Custeio</option>
                    <option value="fiat">Capital</option>
                    <option value="fiat">Outro</option>
                </select>
            </ons-col>
            <ons-col>
                <select id="InputSubcategory" name="Sub-categoria">
                    <option value="volvo" disabled selected hidden>Sub-categoria</option>
                    <option value="saab">Recursos Humanos</option>
                    <option value="fiat">Material de consumo</option>
                    <option value="audi">Transporte</option>
                    <option value="audi">Alimentação</option>
                    <option value="audi">Divulgação</option>
                    <option value="audi">Manutenção do espaço</option>
                    <option value="audi">Custos administrativos</option>
                    <option value="audi">Despesas bancárias</option>
                </select>
            </ons-col>
        </ons-row>
        
    </ons-list-item>
    

    <ons-list-item>
      <textarea id="InputDescription" class="textarea textarea--transparent" placeholder="Descrição"></textarea>
    </ons-list-item>


  </ons-list>
  
  <ons-list-item>
        <ons-row>
            <ons-col width="10%">
                <ons-icon icon="fa-sticky-note-o"></ons-icon>
            </ons-col>
            <ons-col >
                <input id="InputNumDoc" type="number" class="text-input text-input--transparent" placeholder="Número documento">
            </ons-col>
            <ons-col >
               <div style="padding: 0px 9px">
                    <ons-button onclick="getPhoto()" modifier="large" style="margin: 0 auto;">
                      Anexar
                    </ons-button>
               </div>
            </ons-col>
        </ons-row>
        
        
    </ons-list-item>
  
  

  <div style="padding: 2px 9px">
    <ons-button onclick="SaveInput()" modifier="large" style="margin: 0 auto;">
      Salvar
    </ons-button>
  </div>
       


<style>
.list {
  margin-top: 10px;
}

.to-wrapper {
  line-height: 1;
  height: 62px;
  padding: 10px;
}

.to-image {
  width: 42px;
  height: 42px;
  border-radius: 4px;
}

.to-name {
  font-weight: 500;
  font-size: 17px;
  margin-bottom: 4px;
}

.to-email {
  font-size: 14px;
  opacity: 0.4;
}

.text-input {
  margin-top: 4px;
}

input[type="text"] {
  width: 100%;
}

.textarea {
  margin-top: 4px;
  width: 100%;
  height: 50px;
}
</style>  
  
</ons-page>

