<ons-page>
  <ons-toolbar>
    <div class="center">Log In</div>
    <div class="right"><ons-toolbar-button>Close</ons-toolbar-button></div>
  </ons-toolbar>

  <div class="login-form">

    <input type="email" class="text-input--underbar" placeholder="Email" value="">
    <input type="password" class="text-input--underbar" placeholder="Password" value="">
    <br><br>
    <ons-button ng-click="navi.pushPage('menu.html')" modifier="large" class="login-button">Log In</ons-button>
    <br><br>
    <ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>
  </div>

</ons-page>
