
  <ons-splitter ng-app="myApp" ng-controller="AppController as app" var="splitter">
    <ons-splitter-side side="left" width="220px" collapse swipeable>
      <ons-page id="PageMenu">
        <div class="profile-card">
            <img id="user_avatar" src="images/avatar.png" class="profile-image">
            <div id="user_nome" class="profile-name">Aluizio</div>
            <div id="user_dec" class="profile-id">aluizio.marino@ufabc.edu.br</div>
            
            <!--<div id="user_ultimoLogin" class="profile-desc"></div>-->
        </div>
        <ons-list>
          <ons-list-item ng-click="app.load('main.html')" tappable>
             <ons-icon icon="fa-home"></ons-icon> &nbsp; Início
          </ons-list-item>
          <ons-list-item ng-click="app.load('settings.html')" tappable>
             <ons-icon icon="fa-gear"></ons-icon> &nbsp; Configurações
          </ons-list-item>
          <ons-list-item ng-click="app.load('about.html')" tappable>
             <ons-icon icon="fa-exclamation-circle"></ons-icon> &nbsp; Sobre
          </ons-list-item>
          <ons-list-item ng-click="app.load('about.html')" tappable>
             <ons-icon icon="fa-question-circle"></ons-icon> &nbsp; Ajuda
          </ons-list-item>
          
          <hr>
           <ons-list-item ng-click="app.load('about.html')" tappable>
             <ons-icon icon="fa-plus-circle"></ons-icon> &nbsp; Novo Projeto
          </ons-list-item>
           <ons-list-item ng-click="app.load('about.html')" tappable>
            <ons-icon icon="fa-archive"></ons-icon> &nbsp; Pessoal
          </ons-list-item>
          
        </ons-list>
        
        
      </ons-page>
      
      
      
    </ons-splitter-side>
    <ons-splitter-content>
        
      <ons-navigator
        var="navi"
        page="main.html"
        animation="slide" 
        ng-controller="AppController as app"
        ons-postpush="app.pushes = app.pushes + 1"
        ons-postpop="app.pops = app.pops + 1">
      </ons-navigator>
      
     
        
    </ons-splitter-content>
  </ons-splitter>
  
  
  
  <style>
  .profile-card {
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 0;
  line-height: 1.4;
  background-color: #33393c;
  text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
}

.profile-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background-color: black;
  border 1px solid white;
  box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
  -webkit-box-shadow:rgba(0, 0, 0, 0.2) 0px 2px 0px 0px;
}

.profile-name {
  margin: 10px 0 0 0;
  font-weight: 600;
  font-size: 17px;
}

.profile-id {
  margin: 0 0 5px 0;
  font-size: 14px;
  opacity: 0.6;
}

.profile-desc {
  font-size: 15px;
  opacity: 0.6;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

</style>