<ons-page id="PageReport" on-device-backbutton="#">
 
    
  <ons-toolbar>
    <div class="left">
          <ons-toolbar-button ng-click="app.toggle()">
            <ons-icon icon="md-menu"></ons-icon>
          </ons-toolbar-button>
    </div>
    </div>
    <div class="center">
      Relatório Resumido
    </div>
    <div class="right">
      <ons-toolbar-button>
        <ons-icon icon="fa-send-o" fixed-width="false" style="font-size: 26px; vertical-align: -4px;"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  
  <ons-list modifier="inset">
    <ons-list-item class="to-wrapper">
      <ons-row>
        <ons-col width="52px">
           <ons-icon icon="fa-archive"></ons-icon>
        </ons-col>
        <ons-col>
          <div class="to-name">Pessoal</div>
          <div class="to-email">Descrição resumida do projeto selec...</div>
        </ons-col>
      </ons-row>
    </ons-list-item>
  </ons-list>
  <!--
  <ons-list-item>
        <ons-row>
            <ons-col width="10%">
                <ons-icon icon="fa-calendar-check-o"></ons-icon>
            </ons-col>
            <ons-col width="34%">
              <input type="date" class="text-input text-input--transparent" value="2013-01-08">
            </ons-col>
            <ons-col >
                <p>até</p>
            </ons-col>
            <ons-col width="10%">
                <ons-icon icon="fa-calendar-times-o"></ons-icon>
            </ons-col>
            <ons-col width="34%">
              <input type="date" class="text-input text-input--transparent" value="2013-01-08">
            </ons-col>
        </ons-row>
    </ons-list-item>
   -->
  
  

  <ons-list id="ListInputs" class="timeline" modifier="inset">
    
  </ons-list>
  



    
<style>
.reply-notification {
  position: absolute;
  right: 18px;
  top: 28px;
  font-size: 10px;
  font-weight: 600;
  height: 13px;
  line-height: 13px;
  padding: 0 4px;
  min-width: 13px;
}

.tab-icon {
  font-size: 28px;
  vertical-align: -4px;
}

.timeline {
  margin-top: 10px;
  margin-bottom: 10px;
}

.timeline-li {
  line-height: 1;
  padding: 10px;
}

.timeline-image {
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.timeline-date {
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.timeline-from {
  margin: 10px 0 6px 0;
}

.timeline-name {
  font-size: 15px;
  font-weight: 500;
}

.timeline-id {
  font-size: 14px;
  opacity: 0.4;
}

.timeline-message {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15;
}
.timeline-category {
  margin-top: 4px;
  font-size: 14px;
  opacity: 0.8;
  line-height: 1.15;
  text-decoration: underline;

}
</style>
  
</ons-page>
